@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap');
body {
  margin: 0;
  font-family: 'Host Grotesk', 'Archivo', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', "Host Grotesk", sans-serif,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  line-height: 1.4;
  background: #FAFCFF;
  font-optical-sizing: auto;
  scroll-behavior: smooth;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', 'monospace';
}

@font-face {
  font-family: 'Lunema';
  src: url('/public/fonts/Lunema\ Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Host Grotesk';
  src: url('/public/fonts/ArialNova.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

